# ------------------------
# Clojure Project Git Ignore file patterns
# 
# Ignore all except patterns starting with !
# Add comments on separate lines, not same line as pattern
# ------------------------

# ------------------------
# Ignore everthing in root directory
/*

# ------------------------
# Common project files
!CHANGELOG.org
!README.md

# ------------------------
# Include Clojure project & config
!build.clj
!deps.edn
!pom.xml
!dev/
!docs/
!resources/
!src/
!test/

# ------------------------
# Include Clojure tools
!.cljstyle
!.dir-locals.el
!compose.yaml
!Dockerfile
!.dockerignore
!Makefile
!tests.edn

# ------------------------
# Include Git & CI workflow
!.gitattributes
!.gitignore
!.github/

