# Configure Languages for GitHub repository using Linguist

# Markdown & Make detection,
# exclude HTML, CSS & JavaScript
# docs/** linguist-detectable
*.edn linguist-detectable=true
*.md linguist-detectable=true
make linguist-detectable=true
*.css linguist-detectable=false
*.js linguist-detectable=false
*.html linguist-detectable=false
